body{
    width: 100%;
    height: 100%;
    background-color: black;
}
header{
    background-color: #D6EFD8;
    width: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
}
header nav{
    color: black;

}
main{
    background-color:#80AF81 ;
    width: 100%;
    height: 400px;
}
aside{
    background-color:#508D4E ;
    width: 100%;
    height: 400px;
}
footer{
    background-color: #1A5319;
    width: 100%;
    height: 200px;
}